* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    width: 95%;
    max-width: 600px;
}

input, textarea {
    padding-left: 0.3em;
}

input {
    height: 1.5em;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-weight: 400;
}

h3 {
    font-weight: 600;
}

.time-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.time-block input {
    flex: 1;
}

.time-block input:first-child{
    margin-right: 4px;
}

.time-start:before {
    content: "Start time:";
    margin-right: .6em;
    color: #9d9d9d;
}

.time-end:before {
    content: "End time:";
    margin-right: .6em;
    color: #9d9d9d;
}

.date-block:before {
    content: "Date:";
    margin-right: .6em;
    color: #9d9d9d;
}

@media screen and (max-width: 510px) {
    .time-block {
        flex-direction: column;
    }

    .time-block input:first-child {
        margin-right: 0;
    }
}