* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    width: 95%;
    max-width: 600px;
}

input {
    height: 1.5em;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-weight: 400;
}

h3 {
    font-weight: 600;
}

.time-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.time-block input {
    flex: 1;
}

.time-block input:first-child{
    margin-right: 4px;
}